@page "/paging"

@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<MediaContext> DbFactory
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

@if (Videos is null)
{
    <p><em>Загрузка данных...</em></p>
}
else if (Videos.Count == 0)
{
    <p><em>Данных нет</em></p>
}
else
{
    <PaginatedListComp Source="Videos" PageSize="6" />
}

@code {
    private MediaContext _context;

    private List<Video>? Videos;

    protected override async Task OnInitializedAsync()
    {
        _context = await DbFactory.CreateDbContextAsync();

        Videos = await _context.Videos.Include(x => x.TimeCodes).Include(x => x.IdAuthorNavigation).ToListAsync();
    }
}